{% extends "wizard.html" %}

{% load staticfiles %}

{% block page_title %}
  Paso a Paso
{% endblock %}

{% block css %}
  <link rel=stylesheet href="{% static 'css/rankorder.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content_title %}
    <h3 class="text-center">
        Rank-Order Clustering Algorithm
        <!--<small class="text-muted">Para agrupar estudiantes</small>-->
    </h3>
{% endblock %}

{% block class_tab1 %}
    class="disabled"
{% endblock %}

{% block class_tab2 %}
    class="disabled"
 {% endblock %}

{% block class_tab3 %}
    class="active"
{% endblock %}

{% block class_tab4 %}
    class="disabled"
{% endblock %}

{% block tab_title %}
    Procesamiento de Archivo <small class="text-muted">/ Paso a paso del algoritmo</small>
{% endblock %}

{% block tab_content %}
    <br>
    <p>
      <strong class="text-muted">Paso 1:</strong> Calcular pesos Wi de las <strong>n</strong> filas y ordenarlas de forma ascendente de acuerdo al peso.
    </p>

    <div class="block row table-responsive">
      <table class="table table-bordered table-hover text-center">
        <tbody>
          <tr class="danger">
            <td class="text-muted"><strong>Binarios</strong></td>
            {% for cell in binaryArrayString %}
              <td>2<sup>{{ cell }}</sup></td>
            {% endfor %}
          </tr>

          {% for matrix, linesWeightArray, linesPows in data %}
            <tr>
              {% for cell in matrix %}
                <td class="warning">{{ cell }}</td>
              {% endfor %}
              <td class="info">
                {% for pow in linesPows %}
                  {% if not forloop.last %}
                    2<sup>{{ pow }} </sup>  +
                  {% else %}
                    2<sup>{{ pow }}</sup> =
                  {% endif %}
                {% endfor %}
                <strong> {{ linesWeightArray }}</strong>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="form-group">
         <ul class="list-inline pull-left">
           <li><a href="/" class="btn btn-md btn-raised text-uppercase">Cancelar</a></li>
         </ul>
         <ul class="list-inline pull-right">
             <li><a href="/rankorder/preview" class="btn btn-md btn-raised text-uppercase">Atrás</a></li>
             <li><a href="/rankorder/graphs" class="btn btn-md btn-raised btn-success text-uppercase" >Siguiente</a></li>
         </ul>
    </div>
{% endblock %}
