{% extends "layout.html" %}

{% block page_title %}
  Subir archivo
{% endblock %}

{% load staticfiles %}
{% block css %}
  <link rel=stylesheet href="{% static 'css/rankorder.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content %}
    <h3 class="text-center">
        Rank-Order Clustering Algorithm
        <!--<small class="text-muted">Para agrupar estudiantes</small>-->
    </h3>
    <br>
    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </span>
                    </a>
                </li>

                <li role="presentation" class="disabled">
                    <a href="javascript::void(0)" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-zoom-in"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="disabled">
                    <a href="javascript::void(0)" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-picture"></i>
                        </span>
                    </a>
                </li>

                <li role="presentation" class="disabled">
                    <a href="javascript::void(0)" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

            <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="step1">
                <div class="col-md-10 col-md-offset-1">
                  <div class="page-header">
                      <h3>Subir archivo <small> / Seleccione archivo con conceptos débiles por estudiante</small></h3>
                  </div>

                  <br>

                  <form class="form-horizontal" method="POST"enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="container">
                         <div class="row">
                             <div class="col-xs-12 col-md-6 col-sm-8">
                                {% if form.file.errors %}
                                   <div class="alert alert-dismissible alert-danger">
                                     <button type="button" class="close" data-dismiss="alert">×</button>
                                     <strong>Error!</strong>
                                     {{ form.file.errors }}
                                   </div>
                                {% endif %}
                                <div class="input-group preview">
                                    <input type="text" class="form-control preview-filename" disabled="disabled">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-danger preview-clear" style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Limpiar
                                        </button>

                                        <div class="btn btn-default btn-raised btn-sm preview-input">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="file"> Buscar</span>
                                            <input type="file" accept=".txt" name="file" required title="This field should not be left blank."/>
                                        </div>
                                    </span>
                                </div>
                             </div>
                         </div>
                     </div>

                     <br>

                     <div class="form-group">
                         <ul class="list-inline pull-left">
                            <li><a href="/" class="btn btn-md btn-raised text-uppercase">Cancelar</a></li>
                         </ul>
                         <ul class="list-inline pull-right">
                            <li><input type="submit" class="btn btn-md btn-raised btn-success" value="SIGUIENTE"></li>
                         </ul>
                     </div>
                  </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
  {% load staticfiles %}
   <script type="text/javascript" src= "{% static 'js/rankorder/index.js' %}"></script>
{% endblock %}
