{% extends "wizard.html" %}

{% load staticfiles %}

{% block page_title %}
  Subir Archivo
{% endblock %}

{% block css %}
  <link rel=stylesheet href="{% static 'css/rankorder.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content_title %}
    <h3 class="text-center">
        Rank-Order Clustering Algorithm
        <!--<small class="text-muted">Para agrupar estudiantes</small>-->
    </h3>
{% endblock %}

{% block class_tab1 %}
    class="active"
{% endblock %}

{% block class_tab2 %}
    class="disabled"
 {% endblock %}

{% block class_tab3 %}
    class="disabled"
{% endblock %}

{% block class_tab4 %}
    class="disabled"
{% endblock %}

{% block tab_title %}
    Subir archivo <small> / Seleccione archivo con conceptos débiles por estudiante</small>
{% endblock %}

{% block tab_content %}
    <form class="form-horizontal" method="POST"enctype="multipart/form-data">
      {% csrf_token %}
       <div class="container">
           <div class="row">
               <div class="col-xs-12 col-md-6 col-sm-8">
                  {% if form.file.errors %}
                     <div class="alert alert-dismissible alert-danger">
                       <button type="button" class="close" data-dismiss="alert">×</button>
                       <strong>Error!</strong>
                       {{ form.file.errors }}
                     </div>
                  {% endif %}
                  <div class="input-group preview">
                      <input type="text" class="form-control preview-filename" disabled="disabled">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-danger preview-clear" style="display:none;">
                              <span class="glyphicon glyphicon-remove"></span> Limpiar
                          </button>

                          <div class="btn btn-default btn-raised btn-sm preview-input">
                              <span class="glyphicon glyphicon-folder-open"></span>
                              <span class="file"> Buscar</span>
                              <input type="file" accept="text/plain" name="file" required title="This field should not be left blank."/>
                          </div>
                      </span>
                  </div>
               </div>
           </div>
       </div>

       <br>

       <div class="form-group">
           <ul class="list-inline pull-left">
              <li><a href="/" class="btn btn-md btn-raised text-uppercase">Cancelar</a></li>
           </ul>
           <ul class="list-inline pull-right">
              <li><input type="submit" class="btn btn-md btn-raised btn-success" value="SIGUIENTE"></li>
           </ul>
       </div>
    </form>
{% endblock %}


{% block js %}
   <script type="text/javascript" src= "{% static 'js/rankorder/index.js' %}"></script>
{% endblock %}
