{% extends "layout.html" %}

{% block page_title %}
  Home
{% endblock %}

{% load staticfiles %}
{% block css %}
  <link rel=stylesheet href="{% static 'css/home.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2 class="text-center">Cum sociis natoque penatibus et magnis dis parturient montes</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero mauris, cursus sit amet gravida at, egestas ut ante. </p>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Rank-Order Clustering Algorithm</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="glyphicon glyphicon-th green-color"></span>
                        </div>
                        <div class="col-md-10">
                            <p>
                                El presente algoritmo es una manera sencilla de formar grupos y asignar familias de partes a esos grupos. Se tiene un problema con n partes y m máquinas. El algoritmo consiste en calcular valores para ponderar cada fila, que se llamarán pesos,

                                <a href="javascript::void(0)" class="green-color">ver más ...</a>
                            </p>
                            <a href="/rankorder/file" class="btn btn-sm btn-success btn-raised pull-right">Probar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">K-Means Algorithm</h3>
                </div>
                <div class="panel-body">
                   <span class="glyphicon glyphicon-th-list orange-color"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Case-Based Reasoning Algorithm</h3>
                </div>
                <div class="panel-body">
                    <span class="glyphicon glyphicon-equalizer blue-color"></span>
                </div>
            </div>
        </div>
    </div>

    <br><br>

{% endblock %}
